:root{
    --primary-color: #0a0b13;
    --hover-color: #ffffff;
    --accent-color:#3f9dfb;
    --text-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color) !important;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(main_bg.jpg);
    background-size: cover;
    background-position: center;
}
main{
    padding: min(5em,7%)
}
main p{
    margin-top: .35em;
}
.notification{
    background-color:var(--accent-color);
    color: var(--primary-color);
    text-align: center;
    padding: 0.25em 2em;
}
.navbar-mobile{
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
    display: none;
}
.navbar-mobile a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em;
    transition: color 250ms ease;
}
.navbar-mobile ul {
    align-items: center;
    list-style: none;
    display: flex;
}
.navbar-mobile li{
    display: flex;
}
nav{
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
}
nav ul{
    align-items: center;
    list-style: none;
    display: flex;
}
nav li{
    display: flex;
}
.home{
    margin-right: auto;
}
.logo{
    width: 180px;
    cursor: pointer;
}
.boka{
    color: var(--accent-color);
    border-radius: 1em;
    transition: background-color 250ms ease;
}
.boka:hover{
    background-color: var(--hover-color);
}
nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em;
    transition: color 250ms ease;
    font-weight:bold;
    font-size: 18px;
}
nav a:hover{
    color: var(--accent-color)
}
#open-sidebar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}
#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
#overlay{
    background: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    opacity: 0;  /* Start as fully transparent */
    visibility: hidden;  /* Hide it completely */
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
.content {
    margin-top: auto;
    width: 100%;
    position: absolute;
    padding: 10em 2em;
    text-align: center;
}
.content h1{
    font-size: 72px;
    margin-bottom: 10px;
}
.content h1 span{
    color: var(--accent-color);
}
.content p{
    font-size: 24px;
    font-weight: normal;
}
.type-align-center{
    display: none;
    margin-top: 10px;
}
.zenbooker-inline-button{
    font-size: 20px !important;
    padding: 0.5em 1em !important;
}
.bild-container {
    width: 100%;
    max-height: 640px;  /* Max höjd för att hålla bilden inom en viss storlek */
    overflow: hidden; /* Se till att inga överflödiga delar av bilden syns om den är för stor */
}

.bild-container img {
    width: 100%;
    height: auto; /* För att bibehålla bildens proportioner */
    display: block;
}
.text {
    width: 100%;
    position: absolute;
    padding: 2em 4em;
    background-color: var(--primary-color);
    border-top: 1px solid var(--accent-color);
    line-height: 24px;
  }

.text span{
    color: var(--accent-color);
}
.text h1{
    font-size: 72px;
    text-align: center;
    margin-bottom: 30px;
}
.text p{
    font-size: 24px;
    font-weight: normal;
    margin-bottom:20px;
}
.footer{
    display: block;
    background-color: var(--primary-color);
}
@media screen and (max-width: 950px) {
    #open-sidebar-button, #close-sidebar-button, .type-align-center{
        display:block;
    }
    .navbar-mobile{
        display: flex;
    }
    body{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(mobile_bg.jpg);
    }
    nav{
        position: fixed;
        top:0;
        right: -100%;
        height: 100vh;
        width: min(15em,100%);
        z-index: 10;
        border-left: 1px solid var(--accent-color); 
        transition: right 300ms ease-in-out;
    }
    nav.show{
        right: 0; 
    }
    nav.show ~ #overlay {
        opacity: 1;  
        visibility: visible;  
    }
    nav ul{
        width:100%;
        flex-direction: column;
        align-items: normal;
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;;
    }
    .logo{
        transform: translateX(-10px);
    }
    .content h1{
        font-size: 48px;
    }
    .content p{
        font-size: 16px;
    }
    .text h1{
        font-size: 48px;
    }
    .text p{
        font-size: 16px;
    }

}
